
.form-component {
    z-index: 10;
    border-radius: 1px solid black;
}

.meal-new-day-popup {
    .MuiDialogContent-root {
        overflow-y: unset !important;
    }
}

.date-popup {
    .MuiDialogContent-root {
        overflow-y: unset !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        > * {
            margin-bottom: 2ex;
        }
    }
}