
.routing {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    > div {
        overflow-y: scroll;
    }

    display: grid;
    grid-template-rows: auto 3.5rem;

    .route-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: black;
        color: white;
        z-index: 1;

        .MuiButton-root {
            color: white !important;
            min-width: 30%;
        }
    }
}