.recipes-main {

    .header, .bar, .main {
        padding: 10px;
    }

    .header {
        grid-area: header;
        background-color: var(--yellow);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header h1 {
        margin: 0.5em;
        margin-left: 5%;
    }

    .header button {
        border: 0;
        background-color: transparent;
        font-size: var(--iconSize);
        margin-right: 5%;
        padding: 1%;
    }

    .bar {

        grid-area: bar;
        background-color: var(--black);
        display: flex;
        justify-content: space-around;
    }

    .bar button {
        background-color: var(--orange);
        border: 0px;
        border-radius: 0.7em;
        font-size: x-large;
        width: 15%;
        padding: 1em;
    }

    .main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-y: visible;
        /*font-size: 8px;*/
        text-transform: uppercase;
        padding-top: 20px !important;
    }

    .editOrDel {
        border: 0;
        margin-bottom: 0 !important;
        padding: 1em;
    }

    .editOrDel i {
        border: 0;
        margin-bottom: 0 !important;
        font-size: var(--iconSize);
    }

    .main h3, p {
        font-size: inherit;
        text-align: left;
    }

    .recipe {
        display: flex;
        flex-direction: column;
    }

    .recipe ol {
        padding-left: 1.5em;
        margin-top: 0em;
        text-align: left;
    }

    .recipe ul {
        padding-left: 1.5em;
        margin-top: 0em;
        text-align: left;
    }

    .recipe li {
        margin-left: 0.5em;
    }

    /* .recipe > div {
        border: 1px solid red;
    } */

    .recipeName {
        text-align: center;
        padding: 0px !important;
        font-size: x-large;
    }

    .addLineEdit {
        border: 0;
        padding: auto;
        width: 10%;
    }

    .addLineEdit i {
        margin: 0;
        font-size: x-large;
    }

    .sidebar {
        grid-area: sidebar;
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .sidebar button {
        background-color: var(--orange);
        border: 0px;
        font-size: x-large;
        padding: 5px;
    }
}
