:root {
    --black: #252323;
    --green: #629E83;
    --orange: #E16826; /*#F05B3D; /*#FC5130;*/
    --gray: #DEDEDE;
    --dark-gray: #444;
    --beige: #FFF5BA;
    --yellow: #F7C825;

    --iconSize: 3em;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white; /*#ffffea;*/
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}