
.frame {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 15% auto 5%;
    height: 100%;
    width: 100%;
    grid-template-areas: 
        "header header header"
        ". main ."
        ". main .";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.frame-footer {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 15% auto 5%;
    height: 100%;
    width: 100%;
    grid-template-areas: 
        "header header header"
        ". main ."
        ". . .";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main {
    grid-area: main;
}