
.frame {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 15% auto 5%;
    height: 100%;
    width: 100%;
    grid-template-areas: 
        "header header header"
        ". main ."
        ". main .";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.frame-footer {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 15% auto 5%;
    height: 100%;
    width: 100%;
    grid-template-areas: 
        "header header header"
        ". main ."
        ". . .";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main {
    grid-area: main;
}

/* https://stackoverflow.com/questions/924916/is-there-a-way-to-make-a-div-unselectable */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Material-UI */

.circular-progress {
    align-self: center;
    margin: auto;
    width: 20vmin !important;
    height: 20vmin !important;
    color: var(--orange) !important;
}

.icon-small {
    width: 1.5em !important;
    height: 1.5em !important;
}

.icon {
    width: 2em !important;
    height: 2em !important;
}
