
.frame {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 15% auto 5%;
    height: 100%;
    width: 100%;
    grid-template-areas: 
        "header header header"
        ". main ."
        ". main .";
    // position: absolute;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // right: 0;
}

.frame-footer {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 15% auto 5%;
    height: 100%;
    width: 100%;
    grid-template-areas: 
        "header header header"
        ". main ."
        ". . .";
    // position: absolute;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // right: 0;
}

.main {
    grid-area: main;
}

// This is for the root of a page, like where frame goes
.page-main {
    
    .header, .bar, .main {
        padding: 10px;
    }

    .header {
        
        grid-area: header;
        background-color: var(--yellow);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;

        h1 {
            margin: 0.5em;
            margin-left: 5%;
        }

        button {
            border: 0;
            background-color: transparent;
            font-size: var(--iconSize);
            margin-right: 5%;
            padding: 1%;
        }

        .actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-right: 2rem;
            width: 33%;
            height: 100%;
        }

        .actions-buttons {
            border-radius: 3rem;
            height: 100%;
        }
    }

    .main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-y: scroll;
        text-transform: uppercase;
        padding-top: 20px !important;

        .container {
            background-color: var(--beige);
            margin-bottom: 20px;
            border: 0px;
            position: relative;

            .icon-button {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
            }

            .MuiNativeSelect-select {
                font-size: larger;
                background-color: white;
                padding: {
                    top: 0;
                    bottom: 0;
                }
            }
        }

        .MuiTimeline-root {
            align-items: flex-start;
            
            > div {
                width: 100%;

                .MuiTimelineDot-filledPrimary {
                    background-color: black;
                }
        
                .MuiTimelineDot-outlinedPrimary {
                    border-color: black;
                }
            }
        }

        .MuiTimelineItem-root {
            padding-left: 1ex;

            &:before {
                content: none;
            }
        }

        .MuiTimelineContent-root {
            width: 100%;
            overflow-wrap: anywhere;
            font-size: larger;
            text-transform: capitalize;

            p {
                margin: 0px;
            }
        }

        h3, p {
            font-size: inherit;
            text-align: left;
        }
    }
}


/* https://stackoverflow.com/questions/924916/is-there-a-way-to-make-a-div-unselectable */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Material-UI */

.circular-progress {
    align-self: center;
    margin: auto;
    width: 20vmin !important;
    height: 20vmin !important;
    color: var(--orange) !important;
}

.icon-small {
    width: 1.5em !important;
    height: 1.5em !important;
}

.icon {
    width: 2em !important;
    height: 2em !important;
}
