<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/9c4b3dab13.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="frame">
        <div class="header">
            <h1>
                Recipe Book
            </h1>
        </div>

        <div id="content" onload="contentFetch()">
        </div>
        <!-- <div id='form'>
            <input name="name">
            <button onclick="submit()">Submit</button>
        </div> -->
    </div>

    <form method="POST" action="{{ url_for('api.notes') }}">
        <input name="note">
        <input type="submit">
    </form>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        function contentFetch() {
            const content = document.getElementById('content');
            
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    // Typical action to be performed when the document is ready:
                    console.log(xhttp.responseText)
                    content.innerText = xhttp.responseText;
                }
            };
            xhttp.open("GET", "/api/v1/notes", true);
            xhttp.send();
        }
    </script>
</body>
</html>